In [3]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [14]:
#pandas series
labels = ['a', 'b', 'c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

print(pd.Series(data = arr))
print(pd.Series(data = my_data, index=labels))
print(pd.Series(d))

0    10
1    20
2    30
dtype: int64
a    10
b    20
c    30
dtype: int64
a    10
b    20
c    30
dtype: int64

In [9]:
#pandas series can hold functions
print(pd.Series(data=[sum,print,len]))

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [21]:
#series operations try to match by index. If nothing found, the result is NaN
ser1 = pd.Series([1,2,3,4], ["USA", "Switzerland", "Austria", "Italy"])
ser2 = pd.Series([1,2,3,4], ["USA", "Switzerland", "China", "Italy"])
print(ser1+ser2)

Austria        NaN
China          NaN
Italy          8.0
Switzerland    4.0
USA            2.0
dtype: float64

In [42]:
#data frames
np.random.seed(101)

df = pd.DataFrame(randn(5,4), ['a','b','c','d','e'], ['w','x','y','z'])
print(type(df))
print(df)

#is a series
print(type(df['w']))
print(df['w'])

#is a data frame
print(type(df[['w', 'z']]))
print(df[['w', 'z']])

#is a series
print(type(df.loc['c']))
print(df.loc['c']) #numerical index: df.iloc[2]

print(df.loc['b','y'])

#subset
print(df.loc[['a','b'],['w','y']])

<class 'pandas.core.frame.DataFrame'>
          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509
<class 'pandas.core.series.Series'>
a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64
<class 'pandas.core.frame.DataFrame'>
          w         z
a  2.706850  0.503826
b  0.651118  0.605965
c -2.018168 -0.589001
d  0.188695  0.955057
e  0.190794  0.683509
<class 'pandas.core.series.Series'>
w   -2.018168
x    0.740122
y    0.528813
z   -0.589001
Name: c, dtype: float64
-0.8480769834036315
          w         y
a  2.706850  0.907969
b  0.651118 -0.848077

In [37]:
#data frames arithmics

df = pd.DataFrame(randn(5,4), ['a','b','c','d','e'], ['w','x','y','z'])

df['new'] = df['w'] + df['y']
print(df)

#axis 1 specifies that it is a column, inplace needs to be true to commit change
df.drop('new', axis=1, inplace=True)
print(df)

          w         x         y         z       new
a  0.327845  0.674485 -0.174057  0.780140  0.153788
b -0.383258 -0.409318  0.343539  0.196275 -0.039719
c -0.982776  2.231555 -0.971393 -1.522333 -1.954169
d  1.133703  0.528187  0.393461 -0.630507  1.527164
e -1.398290 -0.219311 -0.045676  0.012421 -1.443966
          w         x         y         z
a  0.327845  0.674485 -0.174057  0.780140
b -0.383258 -0.409318  0.343539  0.196275
c -0.982776  2.231555 -0.971393 -1.522333
d  1.133703  0.528187  0.393461 -0.630507
e -1.398290 -0.219311 -0.045676  0.012421

In [4]:
#data frames conditional selection
df = pd.DataFrame(randn(5,4), ['a','b','c','d','e'], ['w','x','y','z'])

df[df>0]

          w         x         y         z
a  1.031148  0.528287  0.546615       NaN
b       NaN       NaN  0.756883  0.367183
c       NaN       NaN       NaN  1.642448
d  0.461641       NaN  0.721089  0.721953
e  0.652880  0.074263       NaN  0.653344

In [49]:
#get all rows where the 'w' value is higher than 0
df[df['w']>0]

          w         x         y         z
b  0.392489  0.221491 -0.855196  1.541990
c  0.666319 -0.538235 -0.568581  1.407338
d  0.641806 -0.905100 -0.391157  1.028293

In [5]:
#multiple conditions
print(df[(df['w']>0) & (df['y']>1)])
print(df[(df['w']>0) | (df['y']>1)])

Empty DataFrame
Columns: [w, x, y, z]
Index: []
          w         x         y         z
a  1.031148  0.528287  0.546615 -0.295531
d  0.461641 -1.285897  0.721089  0.721953
e  0.652880  0.074263 -0.535413  0.653344

In [6]:
print(df.reset_index())

  index         w         x         y         z
0     a  1.031148  0.528287  0.546615 -0.295531
1     b -0.176585 -0.481808  0.756883  0.367183
2     c -0.892526 -0.836284 -0.166963  1.642448
3     d  0.461641 -1.285897  0.721089  0.721953
4     e  0.652880  0.074263 -0.535413  0.653344

In [13]:
#easy way to creat list of strings
newindex = 'CA NY WY OR CO'.split()
df['States'] = newindex
print(df)

#use a column as index
df.set_index('States', inplace=True)
print(df)

          w         x         y         z States
a  1.031148  0.528287  0.546615 -0.295531     CA
b -0.176585 -0.481808  0.756883  0.367183     NY
c -0.892526 -0.836284 -0.166963  1.642448     WY
d  0.461641 -1.285897  0.721089  0.721953     OR
e  0.652880  0.074263 -0.535413  0.653344     CO
               w         x         y         z
States
CA      1.031148  0.528287  0.546615 -0.295531
NY     -0.176585 -0.481808  0.756883  0.367183
WY     -0.892526 -0.836284 -0.166963  1.642448
OR      0.461641 -1.285897  0.721089  0.721953
CO      0.652880  0.074263 -0.535413  0.653344

In [36]:
#index levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]

#create tuple 
hier_index = list(zip(outside,inside))
print(hier_index)

#define index from tuple
hier_index = pd.MultiIndex.from_tuples(hier_index)
print(hier_index)

#multi index list
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])

#rename index
print(df.index.names)
df.index.names = 'Groups Num'.split()

print(df)

#select element
print(df.loc['G2'].loc[2]['B'])

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]
MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])
[None, None]
                   A         B
Groups Num
G1     1   -1.156879 -1.238605
       2    1.240360 -0.740806
       3   -0.739626  1.370726
G2     1   -0.037048  1.095348
       2   -1.810007  1.562352
       3    1.210115 -0.398775
1.5623521867764496

In [38]:
#cross section

#get all items from level 'Num' that have the value 1 in each 'Groups' level
df.xs(1,level='Num')

               A         B
Groups
G1     -1.156879 -1.238605
G2     -0.037048  1.095348